# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
venv/
env/
db.sqlite3

# Django
staticfiles/
media/
.env

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db